# SERVER
PORT=
APP_BASE_URL=
APP_NAME=

# DB
MONGODB_URI=

# MOCK
MODEL_MOCK_SESSION=
USE_MOCK_MODEL=

# LOGGER
PINO_LOG_LEVEL=
SHOW_RAW_HEADERS=
LOG_APP_REQUEST=
CAN_LOG_ENDPOINT_INFORMATION=

# VALIDATOR
NO_SINGLE_ERRORS=
TOP_LEVEL_ERROR_MESSAGE=

# SECRET MANAGER
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SECRETS_MANAGER_ID=
USE_SECRETS_MANAGER=
